*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

nav{
  background-color: rgb(47, 48, 48);
  color: white;
  padding: 15px;
  text-align: center;
}

.container{
  width: 70%;
  margin: auto;
  background-color: rgba(84, 121, 151, 0.575);
  min-height: 92.5vh;
  padding: 4vmax 8vmax;
  box-sizing: border-box;
}
.container > h1{
  text-align: center;
  font-size: 2.5rem;
  margin: 10px;
}
.container > form{
  display: flex;
  flex-direction: column;
}

input,
textarea,
button{
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.214);
  font-size: 1.25rem;
  border-radius: 5px;
  margin: 10px;
}

button{
  border: none;
  cursor: pointer;
  background-color: rgb(37,37,37);
   color: #fff;
}
.tit{
  font:bold;
  font-size:1.7rem;
}
.task{
  display: flex;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  width: 98%;
  margin: 10px auto;
  align-items: center;
}

.task-details{
width: 100%;
}
.task-details p{
  padding: 5px;
}
.task>button{
 border-radius: 100%;
 width: 30px;
 height: 30px;
 font-size: 3rem;
 display: flex;
 justify-content: center;
 align-items: center;
 padding:0 1px 7px 0;
 background-color: crimson;
}

.task>button:hover{
  background-color: red;
}


@media(max-width:768px){
  nav{
    padding: 10px;

  }

  
.container{
  width: 100%;
  margin: auto;
  background-color: rgba(84, 121, 151, 0.575);
  min-height: 92.5vh;
  padding: 3vmax 4vmax;
  box-sizing: border-box;
}

input,
textarea,
button{
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.214);
  font-size: 1.1rem;
  border-radius: 5px;
  margin: 5px;
}

.tit{
  font:bold;
  font-size:1.3rem;
}

.task{
  display: flex;
  padding: 12px;
  border-radius: 5px;
  background-color: #fff;
  width: 100%;
  margin: 8px auto;
  align-items: center;
}


.task>button{
  border-radius: 100%;
  width: 15px;
  height: 14px;
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:2px 1px 7px 0;
  background-color: crimson;
 }
 
 .task>button:hover{
   background-color: red;
 }
}